.content
{
    padding-left: 1%;
    padding-right: 1%;
}

img.small-title-image
{
    max-width: 100%;
    height: auto;
}

.error
{
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}

